@import "~bulma/sass/utilities/initial-variables";

.progress-layout {
    margin: 10px auto !important;
}

.toolbar {
    margin: 10px auto;
    width: 320px;

    >div {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    
        > * {
            margin-right: 10px;
        }

        .mine-counter {
            border: 1px solid #dbdbdb;
            border-radius: 4px;
            cursor: default;
            padding: 5px;
            margin: 0px;
            width: 60px;
        }
    }

}

.dropdown {
    .dropdown-button {
        cursor: default;
        width: 135px;
    }

    .dropdown-item {
        cursor: pointer;
    }
}

.has-text-red {
    color: $red !important;
}

.has-text-orange {
    color: $orange !important;
}

.has-text-yellow {
    color: $yellow !important;
}

.has-text-green {
    color: $green !important;
}

.has-text-turquoise {
    color: $turquoise !important;
}

.has-text-cyan {
    color: $cyan !important;
}

.has-text-blue {
    color: $blue !important;
}

.has-text-purple {
    color: $purple !important;
}
