.grid {
    width: 190px;
}

.grid-button {
    height: 20px;
    width: 20px;
    /* display: inline-block; */
}

.grid-value {
    height: 18px;
    width: 18px;
    text-align: center;
    display: inline-block;
    border: 1px groove;
}
